//fonts
$mainFuente:'Dancing Script', cursive;
$secondFuente: 'Nunito', sans-serif;

//tamaños
$fontsH1-desk: 8em; 
$fontsH2-desk: 5em;
$fontsH3-desk: 4em;
$fontsH4-desk: 2em;
$fontsH1-mobile:0.1em;

//colors
$primary: #f9b1b1;
$secondary: rgb(252, 227, 227);
$backgroundColor: #ffffff;
$third:#c87c7c;
$footerBgcolor: #1b1b1b;

$footerTextColor: rgb(255, 255, 255);

//height
$heightA: auto;

.footerRedes{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
    @media(max-width: 576px){
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

.footerNav{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: $secondFuente;

}

footer{    
    background-color: $footerBgcolor;

    h4{
        color: $footerTextColor;
        font-size: $fontsH4-desk;
        font-family: $secondFuente;
    }
    p{
        font-family: $secondFuente;
        color: $footerTextColor;
        padding-top: 3rem;
    }

    
}