@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:wght@600&display=swap');

@import "./marca";
@import "./footer";
@import "./productos";
@import "./contacto";



//fonts
$mainFuente:'Dancing Script', cursive;
$secondFuente: 'Nunito', sans-serif;

//tamaños letras
$fontsH1: 10em;
$fontsH2: 8em;
$fontsH3: 6em;
$fontsH4: 4em;
$fontsH1-mobile: 0.5em;

//tamaños imgs
$imgsPrducts: 20rem;

//colors
$primary: #f9b1b1;
$secondary: rgb(252, 227, 227);
$backgroundColor: #ffffff;
$third:#c87c7c;
$footerBgcolor: #1b1b1b;

//height
$heightA: auto;

//flex

.posicionTitles{
    display: flex;
    position: relative;
}

main{
    background-color: $backgroundColor ;
}

