//extends
.btn-more{
    width: 100px;
    height: 30px;
    background: linear-gradient(to top, violet, deeppink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    &:hover{
        background: linear-gradient(to bottom, violet, deeppink);
    }
}

.btn-rounded{
    @extend .btn-more;
    border-radius: 4px;
}

.box-gral{
    width: 100%;
    padding: 20px 10px;
    margin: auto;
}

.box-gral-gray{
   @extend .box-gral;
   background-color: gray;
}

//mixins
@mixin textos($size,$line-height,$color,$align){
    font-size: $size;
    line-height: $line-height;
    color: $color;
    font-family: $mainFont;
    padding: 10px;
    @if $align == right {text-align: right}
    @if $align == left {text-align: left}
    @if $align == center{text-align: center}
}

// p{
//     @include textos(1.1em,1.4em,black,center);
// }

@mixin breakpoint($break){
    @if $break == mobile{
        @media (min-width:576px){
            @content;
        }
    }
    @if $break == tablet{
        @media(min-width: 1024px){
            @content;
        }
    }
    @if $break == desktop{
        @media (min-width:1200px){
            @content;
        }
    }
}

main{
    @include breakpoint(mobile){
        background-color: red;
    }
}

article{
    @include breakpoint(tablet){
        padding: 30px;
    }
}

@mixin flex($direction, $justify,$align,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin directionRow(){
    flex-direction: row;
}

div{
    @include directionRow();
}

// .box{
//     @include flex(row,center,center, nowrap);
// }

//maps
$paleta:(
    'uno': #af40f6,
    'dos': #df1ce6,
    'tres':#bb20c1,
    'cuatro':#ecdde9,
    'cinco': #9b9a9b,
    'seis': #292829,
    'siete':#e205bb,
    'ocho':#dfa1d4,
    'nueve':#bd9eb8,
    'diez':#e7cfe3,
    'once': #6e646c,
    'doce': #7f3472,
    'trece':#3f393e, 
);
.bg-violet{
    background-color: map-get($map:$paleta , $key:uno);
}
.bg-pink{
    background-color: map-get($map:$paleta , $key:diez);
}

.bg-gris{
    background-color: map-get($map: $paleta, $key:trece);
}

// math
.box{
	width: $width;
	height: $height + 3vh;
	background-color: grey;
}

// // condicionales 
.icon-lang{
	width: 50px;
	height: 50px;
	background-size:contain;
	background-position:center;
	@if $lang == es {background-image: url(../img/icono-es.jpg)}
	@else if $lang == en {background: url(../img/icono-en.jpg)}
	@else if $lang == fr {background: url(../img/icono-fr.jpg)}
	@else{background: url(../img/icono-any.jpg)};
}

// // bucles
@for $i from 1 through 6{
	.text-#{$i}{
		font-size: .25em *$i;
	}
}

// // bucle evolucionado
@each $icono in facebook, twitter, instagram{
	.#{$icono}-icon{
		background-image:url(../img/#{$icono}.svg);
		width: 30px;
		height: 30px;
		background-size:100%;
		list-style: none;
		margin-right: 6px;
	}
}





